.FAQ--question-heading:hover {
  cursor: pointer;
  color: var(--soft-red);
}

.FAQ--hidden {
  display: none;
}

.FAQ--question {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  font-size: 16px;
}

.FAQ--question > * {
  align-self: center; /* To prevent chevron from stretching */
}

.FAQ--answer {
  font-size: 14px;
  color: var(--grayish-blue);
  padding: 20px;
  line-height: 2;
}
