:root {
  --container-margin: 30px;
}

.Downloads--outer-container {
  text-align: center;
}

.Downloads--text-container {
  max-width: 450px;
  margin: 0 auto;
}

.Downloads--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Downloads--heading {
  font-weight: normal;
}

.Downloads--description {
  color: var(--grayish-blue);
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
  padding: 10px 20px;
  opacity: 0.8;
}

@media screen and (min-width: 1100px) {
  .Downloads--container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #Download--container-1 {
    margin-top: var(--container-margin);
  }

  #Download--container-2 {
    margin-top: calc(var(--container-margin) * 2);
  }

  #Download--container-3 {
    margin-top: calc(var(--container-margin) * 3);
  }
}
