.Header--outer-container {
  margin-bottom: 50px;
}

.Header--container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.Header--link {
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  margin: 5px;
}

.Header--links-container {
  display: none;
}

.Header--mobile-links-container {
  display: none;
  flex-direction: column;
  background-color: var(--soft-blue);
  opacity: 0.8;
  padding: 10px 50px;
  margin: -20px;
}

.Header--mobile-top-container {
  justify-content: space-between;
  display: flex;
}

.Header--mobile-link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}

hr {
  color: var(--white);
  width: 200px;
  opacity: 1;
}

#Header--mobile-login {
  border: 1px solid var(--white);
  cursor: pointer;
  background-color: var(--soft-blue);
  color: var(--white);
  text-transform: uppercase;
  padding: 5px;
  height: 40px;
  width: 200px;
  margin: 0 auto;
  font-size: 18px;
}

.Header--icon-container {
  display: flex;
  justify-content: center;
}

.Header--icon {
  margin: 20px;
}

@media screen and (min-width: 1000px) {
  .Header--links-container {
    display: block;
  }

  .Header--hamburger-container {
    display: none;
  }
}
