.Footer--container {
  background-color: var(--very-dark-blue);
  margin: 0 -20px; /* To counteract positive padding on body */
  display: flex;
  flex-direction: column;
}

.Footer--inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.Footer--logo {
  margin-bottom: 15px;
}

.Footer--link {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 16px;
  margin: 15px;
}

.Footer--link:hover {
  color: var(--soft-red);
}

.Footer--links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer--icon-container {
  display: flex;
  flex-direction: row;
}

.Footer--icon {
  fill: var(--white);
  cursor: pointer;
  margin: 15px;
}

.Footer--icon:hover {
  fill: var(--soft-red);
}

@media screen and (min-width: 1100px) {
  .Footer--inner-container {
    flex-direction: row;
    padding: 40px 150px;
  }

  .Footer--logo {
    margin-bottom: 0;
    margin-right: 25px;
  }

  .Footer--links-container {
    flex: 1;
    flex-direction: row;
  }

  .Footer--link {
    margin: 25px;
  }
}
