.Newsletter--container {
  display: flex;
  flex-direction: column;
  background-color: var(--soft-blue);
  align-items: center;
  text-align: center;
  padding: 40px 0;
  margin: 0 -20px; /* To counteract positive padding on body */
}

.Newsletter--heading {
  color: var(--white);
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 3px;
  padding: 10px 0;
}

.Newsletter--description {
  color: var(--white);
  padding: 15px;
  font-size: 24px;
}

.Newsletter--form {
  display: flex;
  flex-direction: column;
}

.Newsletter--input-container {
  padding: 0px;
  border-radius: 5px;
  position: relative;
  margin: 10px;
}

.Newsletter--input-container-wrong {
  background-color: var(--soft-red);
}

.Newsletter--input {
  padding-left: 15px;
  border: none;
  border-radius: inherit;
  height: 50px;
  width: 298px;
  margin: 2px;
  font-size: 14px;
}

.Newsletter--wrong-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.Newsletter--inactive {
  display: none;
}

.Newsletter--wrong-input {
  margin: 0;
  color: var(--white);
  font-size: 12px;
  text-align: left;
  padding: 3px 15px;
  font-style: italic;
}

@media screen and (min-width: 1100px) {
  .Newsletter--form {
    flex-direction: row;
    align-items: center;
  }
}
