:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --light-grayish-blue: hsla(228.7, 7.8%, 60%, 0.2);
  --very-dark-blue: hsl(229, 31%, 21%);
  --very-dark-blue-transparent: hsla(229, 41.9%, 22.9%, 0.9);
  --white: hsl(255, 100%, 100%);
  --black: hsl(0, 100%, 0%);
  --red: hsl(0, 100%, 50%);
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font: 18px "Rubik", sans-serif;
  margin: 0;
  padding: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
